Question 1 - 
Assign the value 26 to a variable x and create a NumPy array y with the values [2, 36, 1, 98, 124]. Multiply those arrays element-wise and save the result in an array z. Calculate the sum of all elements in z and save your results in a new variable named Q1.

In [12]:
import numpy as np
import pandas as pd

/Users/preet/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
x = 26
y = np.array([2, 36, 1, 98, 124])
z = x * y
Q1 = np.sum(z)

Question 2 - Generate a sequence from 21 to 400 and a second sequence from 2 to -35. Save your results in new variables named Q2_1 and Q2_2, respectively.

In [5]:
Q2_1 = np.arange(21, 401)
Q2_2 = np.arange(2, -36, -1)

Question 3 - Generate a sequence from −3 to 9 by 0.1 steps. Save your results in a new variable named Q3.

In [7]:
Q3 = np.arange(-3, 9.1, 0.1)

Question 4 - Randomly sample 100 times a total of 20 elements (with replacement) from Q3. Save your results in a new list named Q4.

In [10]:
Q4 = [np.random.choice(Q3, 20, replace=True) for _ in range(100)]

Question 5 - Define two lists with the following information. First, t includes the strings mon, tue, wed, thu, fri, sat. Second, vector m includes [90, 80, 50, 20, 5, 20]. Combine both lists into a Pandas DataFrame with 6 rows and columns. Save this as a new Dataframe named Q5.

In [13]:
t = ["mon", "tue", "wed", "thu", "fri", "sat"]
m = [90, 80, 50, 20, 5, 20]
Q5 = pd.DataFrame({"Day": t, "Value": m})

Question 6 - Create three arrays of length 100 named weight (mean = 81, sd = 0.26; units = Kg), height (mean = 1.76, sd = 0.22; units = m), and age (mean = 25, sd =5; units=years) by randomly sampling three normal distributions using the ‘numpy.random.normal’ function. Generate a fourth array gender with the same length as height but by randomly sampling (with replacement) from the following list ["A", "B", "C"].

In [15]:
weight = np.random.normal(loc=81, scale=0.26, size=100)
height = np.random.normal(loc=1.76, scale=0.22, size=100)
age = np.random.normal(loc=25, scale=5, size=100)
gender = np.random.choice(["A", "B", "C"], size=100, replace=True)

Question 7 - Create a Pandas dataframe by combining the four arrays created above in Question 6 as columns. Add a new column (BMI) with only NaNs. Save your results in a new dataframe named Q7.

In [22]:
Q7 = pd.DataFrame({ "Weight": weight, "Height": height, "Age": age, "Gender": gender})
Q7['BMI'] = np.nan

Question 8 - Generate a variable selection (e.g. if/else statement) that contains the result to the logical query of age under 20 or above 30. This new array should be added as a new column to Q7 named AgeGroup. The new dataframe should be saved as Q8.

In [24]:
Q7['AgeGroup'] = np.where((Q7['Age'] < 20) | (Q7['Age'] > 30), 'Under 20 or Above 30', 'Between 20 and 30')
Q8 = Q7

Question 9 - Calculate the “Body Mass Index” (BMI; see the equation below) for all people in the Q8 dataframe. Store the results in the BMI column in the same dataframe. Save the resulting object as Q9.

In [26]:
Q8['BMI'] = Q8['Weight'] / (Q8['Height'] ** 2)
Q9 = Q8

Question 10 - Create a function that calculates the BMI (see equation above). It should take only two arguments (height and weight) and it should return a numerical value. This function must be saved as function_Q10. You must show that this function works (e.g. run function_Q10 using height and weight columns from Q9).

In [28]:
def function_Q10(weight, height):
    return weight / (height ** 2)

In [29]:
Q9['Calculated_BMI'] = function_Q10(Q9['Weight'], Q9['Height'])

In [30]:
Q9

,Weight,Height,Age,Gender,BMI,AgeGroup,Calculated_BMI
0,81.016779,1.677924,14.783017,B,28.776010,Under 20 or Above 30,28.776010
1,81.121166,1.324884,28.621862,A,46.214556,Between 20 and 30,46.214556
2,81.155994,1.590793,28.447678,C,32.069578,Between 20 and 30,32.069578
3,81.145818,1.796565,14.995549,B,25.140856,Under 20 or Above 30,25.140856
4,81.237114,1.337397,20.603518,B,45.418634,Between 20 and 30,45.418634
...,...,...,...,...,...,...,...
95,81.334120,1.870639,33.589235,C,23.243026,Under 20 or Above 30,23.243026
96,80.630689,2.009539,22.302676,A,19.966745,Between 20 and 30,19.966745
97,80.754023,2.227123,23.639049,A,16.280798,Between 20 and 30,16.280798
98,81.132814,1.537245,21.894149,B,34.332900,Between 20 and 30,34.332900
99,80.977435,2.159897,21.966529,A,17.357934,Between 20 and 30,17.357934

Question 11 - Create a function that calculates the mean BMI for a particular gender. This function (function_Q11) must take only two arguments. First, a dataframe (with or without BMI estimates). Second, a target gender (see levels in Question 6). This function must be saved as function_Q11. You must show that the function calculates the mean BMI for a particular gender (e.g. run function_Q11 with gender A).

In [31]:
def function_Q11(df, gender):
    gender_df = df[df['Gender'] == gender]
    bmi_mean = gender_df['BMI'].mean()
    return bmi_mean

In [36]:
print(function_Q11(Q9, 'A'))
print(function_Q11(Q9, 'B'))
print(function_Q11(Q9, 'C'))

28.089710257657142
27.701596116510352
26.52308187512233

Question 12 - Append a new column (BMIc, see below) to the Q9 dataframe with a new array that corrects BMI values according to the AgeGroup column. Specifically, the new column (BMIc) should follow the structure: if a participant’s age is within the target age group (TRUE for the AgeGroup column), add 10% to the original BMI. If not, use the original BMI estimate. Save the resulting dataframe as Q12.

In [37]:
Q9['BMIc'] = np.where(Q9['AgeGroup'] == 'Between 20 and 30', Q9['BMI'] * 1.10, Q9['BMI'])
Q12 = Q9

In [38]:
Q12

,Weight,Height,Age,Gender,BMI,AgeGroup,Calculated_BMI,BMIc
0,81.016779,1.677924,14.783017,B,28.776010,Under 20 or Above 30,28.776010,28.776010
1,81.121166,1.324884,28.621862,A,46.214556,Between 20 and 30,46.214556,50.836012
2,81.155994,1.590793,28.447678,C,32.069578,Between 20 and 30,32.069578,35.276535
3,81.145818,1.796565,14.995549,B,25.140856,Under 20 or Above 30,25.140856,25.140856
4,81.237114,1.337397,20.603518,B,45.418634,Between 20 and 30,45.418634,49.960497
...,...,...,...,...,...,...,...,...
95,81.334120,1.870639,33.589235,C,23.243026,Under 20 or Above 30,23.243026,23.243026
96,80.630689,2.009539,22.302676,A,19.966745,Between 20 and 30,19.966745,21.963420
97,80.754023,2.227123,23.639049,A,16.280798,Between 20 and 30,16.280798,17.908878
98,81.132814,1.537245,21.894149,B,34.332900,Between 20 and 30,34.332900,37.766190
99,80.977435,2.159897,21.966529,A,17.357934,Between 20 and 30,17.357934,19.093727